body {
    font-family: 'Open Sans', sans-serif;
  }

  @media only screen and (min-width: 480px) {
    body {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

h3 {
    font-size: 16px;
    font-weight: 400;
}

h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
}

h5 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 10px;
    /* line-height: 29px; */
    color: #434343;
    display: inline-block;
}

h6 {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    margin-left: 5px;
    display: inline-block;
}